  /* CUSTOM STYLES */

  .rmx-tracks-section {
    background-color:#F4F6F9;
  }
  .rmx-tracks-container{
    margin: 50px 80px 80px;
    display: block;
  }

  .rmx-track-avatar{
    margin-bottom: 30px;
  }
  .rmx-track-avatar img{
    width:80px;
    heigth: 80px;
  }

  .rmx-track-container {
    margin-bottom: 30px;
    display: flex;
    flex-flow: row wrap;
    margin-left: 15px;
}

.rmx-track-desc {

  margin-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


  .rmx-banner-container{
    width:100%;
    background-color:#F4F6F9;
    margin:0;
  }

  .rmx-experts-section{
    background-color:#FFFFFF;
  }
  .rmx-experts-container{
    margin: 50px 80px 80px;
    display: block;
  }

  .rmx-header{
    margin-bottom: 40px;
  }
  .rmx-expert-avatar{
    margin-bottom: 30px;
  }
  .rmx-expert-avatar img{
    width: 280px;
    height: 280px;
  }

  .rmx-expert-container {
    margin-bottom: 30px;
    display: flex;
    flex-flow: row wrap;
    margin-left: 15px;
}

.rmx-expert-desc {

  margin-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
