
<div class="row rmx-banner-container">
	<img src="/img/banner-rmx.png" alt="" height="400" width="auto">
</div>
<div class="row rmx-tracks-section">
	<div class="col rmx-tracks-container">
		<h1 class="row rmx-header">Strategic Tracks</h1>
		<div class="row rmx-track-container">
			<div class="col-auto rmx-track-avatar">
				<img src="/img/john.png" alt="" >
			</div>
			<div class="col rmx-track-desc">
				<h2>Value Added Product(VAP)</h2>
				<br>
				<h3>Increase the substitution of standard concrete
					with Value Added Products at a premium margin.
				</h3>
			</div>
			<div class="col-auto rmx-track-avatar">
				<img src="/img/john.png" alt="" >
			</div>
			<div class="col rmx-track-desc">
				<h2>Small End Customer (SEC)</h2>
				<br>
				<h3>Create shared understanding at our small end
					customers in RMX globally, in order to serve them
					more, better and be more profitable.
				</h3>
			</div>
		</div>
		<div class="row rmx-track-container">
			<div class="col-auto rmx-track-avatar">
				<img src="/img/john.png" alt="" >
			</div>
			<div class="col rmx-track-desc">
				<h2>Concrete Construction Solutions (CCS)</h2>
				<br>
				<h3>De-commoditize and extract maximum value from
					our products and services.
				</h3>
			</div>
			<div class="col-auto rmx-track-avatar">
				<img src="/img/john.png" alt="" >
			</div>
			<div class="col rmx-track-desc">
				<h2>Asset Management (AM)</h2>
				<br>
				<h3>De-commoditize and extract maximum value from
					our products and services.
				</h3>
			</div>
		</div>
		
		<div class="row rmx-track-container">
			<div class="col-auto rmx-track-avatar">
				<img src="/img/john.png" alt="" >
			</div>
			<div class="col rmx-track-desc">
				<h2>Operational Excellence (OE)</h2>
				<br>
				<h3>De-commoditize and extract maximum value from
					our products and services.
				</h3>
			</div>
			<div class="col-auto rmx-track-avatar">
				<img src="/img/john.png" alt="" >
			</div>
			<div class="col rmx-track-desc">
				<h2>Pavings (PAV)</h2>
				<br>
				<h3>De-commoditize and extract maximum value from
					our products and services.
				</h3>
			</div>
		</div>
	</div>  
</div>
<div class="row rmx-experts-section">
	<div class="col rmx-experts-container">
		<h1 class="row rmx-header">Our Experts</h1>
		<div class="row rmx-expert-container">
			<div class="col-auto rmx-expert-avatar">
				<img src="/img/Jaime-Muguiro.png" alt="" >
			</div>
			<div class="col rmx-expert-desc">
				<h2>Jaime Muguiro</h2>
				<br>
				<h3>President CEMEX USA</h3>
				-
				<h3>jaime.muguiro@cemex.com</h3>
			</div>
			<div class="col rmx-expert-desc">
				<h1>- Executive Leader</h1>
			</div>
		</div>
		<h2 class="row rmx-header">Core Team -</h2>
		<div class="row">
			<div class="rmx-expert-container">
				<div class="col-auto rmx-expert-avatar">
					<img src="/img/Davide-Zampini.png" alt="" >
				</div>
				<div class="col rmx-expert-desc">
					<h2>Davide Zampini</h2>
					<br>
					<h3>President CEMEX USA</h3>
					-
					<h3>davide.zampini@cemex.com</h3>
				</div>
			</div>
			<div class="rmx-expert-container">
				<div class="col-auto rmx-expert-avatar">
					<img src="/img/Rob-Cutter.png" alt="" >
				</div>
				<div class="col rmx-expert-desc">
					<h2>Rob Cutter</h2>
					<br>
					<h3>President CEMEX USA</h3>
					-
					<h3>rob.cutter@cemex.com</h3>
				</div>
			</div>
			<div class="rmx-expert-container">
				<div class="col-auto rmx-expert-avatar">
					<img src="/img/john.png" alt="" >
				</div>
				<div class="col rmx-expert-desc">
					<h2>Jaime Muguiro</h2>
					<br>
					<h3>President CEMEX USA</h3>
					-
					<h3>jaime.muguiro@cemex.com</h3>
				</div>
			</div>
			<div class="rmx-expert-container">
				<div class="col-auto rmx-expert-avatar">
					<img src="/img/john.png" alt="" >
				</div>
				<div class="col rmx-expert-desc">
					<h2>Jaime Muguiro</h2>
					<br>
					<h3>President CEMEX USA</h3>
					-
					<h3>jaime.muguiro@cemex.com</h3>
				</div>
			</div>
			<div class="rmx-expert-container">
				<div class="col-auto rmx-expert-avatar">
					<img src="/img/john.png" alt="" >
				</div>
				<div class="col rmx-expert-desc">
					<h2>Jaime Muguiro</h2>
					<br>
					<h3>President CEMEX USA</h3>
					-
					<h3>jaime.muguiro@cemex.com</h3>
				</div>
			</div>
			<div class="rmx-expert-container">
				<div class="col-auto rmx-expert-avatar">
					<img src="/img/john.png" alt="" >
				</div>
				<div class="col rmx-expert-desc">
					<h2>Jaime Muguiro</h2>
					<br>
					<h3>President CEMEX USA</h3>
					-
					<h3>jaime.muguiro@cemex.com</h3>
				</div>
			</div>
			<div class="rmx-expert-container">
				<div class="col-auto rmx-expert-avatar">
					<img src="/img/john.png" alt="" >
				</div>
				<div class="col rmx-expert-desc">
					<h2>Jaime Muguiro</h2>
					<br>
					<h3>President CEMEX USA</h3>
					-
					<h3>jaime.muguiro@cemex.com</h3>
				</div>
			</div>
			<div class="rmx-expert-container">
				<div class="col-auto rmx-expert-avatar">
					<img src="/img/john.png" alt="" >
				</div>
				<div class="col rmx-expert-desc">
					<h2>Jaime Muguiro</h2>
					<br>
					<h3>President CEMEX USA</h3>
					-
					<h3>jaime.muguiro@cemex.com</h3>
				</div>
			</div>
		</div>
		
		
		<h2 class="row rmx-header">Support Team -</h2>
		<div class="row">
			<div class="rmx-expert-container">
				<div class="col-auto rmx-expert-avatar">
					<img src="/img/john.png" alt="" >
				</div>
				<div class="col rmx-expert-desc">
					<h2>Jaime Muguiro</h2>
					<br>
					<h3>President CEMEX USA</h3>
					-
					<h3>jaime.muguiro@cemex.com</h3>
				</div>
			</div>
			<div class="rmx-expert-container">
				<div class="col-auto rmx-expert-avatar">
					<img src="/img/john.png" alt="" >
				</div>
				<div class="col rmx-expert-desc">
					<h2>Jaime Muguiro</h2>
					<br>
					<h3>President CEMEX USA</h3>
					-
					<h3>jaime.muguiro@cemex.com</h3>
				</div>
			</div>
			<div class="rmx-expert-container">
				<div class="col-auto rmx-expert-avatar">
					<img src="/img/john.png" alt="" >
				</div>
				<div class="col rmx-expert-desc">
					<h2>Jaime Muguiro</h2>
					<br>
					<h3>President CEMEX USA</h3>
					-
					<h3>jaime.muguiro@cemex.com</h3>
				</div>
			</div>
			<div class="rmx-expert-container">
				<div class="col-auto rmx-expert-avatar">
					<img src="/img/john.png" alt="" >
				</div>
				<div class="col rmx-expert-desc">
					<h2>Jaime Muguiro</h2>
					<br>
					<h3>President CEMEX USA</h3>
					-
					<h3>jaime.muguiro@cemex.com</h3>
				</div>
			</div>
		</div>
	</div>  
</div>